@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YekanBakh";
  src: url("/public/fonts/YekanBakh-VF.ttf");
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #ffffff;
  }
}

@layer components {
  .nav {
    @apply fixed bottom-0 left-[50%] translate-x-[-50%] w-4/5 h-16 rounded-md shadow-soft bg-white my-5 flex items-center justify-between px-6 py-3 mx-auto md:w-[90%] font-yekan md:relative md:bottom-0 md:left-0 md:translate-x-0;
  }
}
